<!DOCTYPE>
<html>
<head>
<title>HELLO</title>
<link rel="stylesheet" href="css/style.css">
<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
<script type="text/javascript">
	
</script>
</head>
<body>
<div class='titlebar'>
	<div class='title_btn win_close'>&times;</div>
	<div class='title_btn win_minimize'>_</div>
	<div class='title_btn win_refresh'>&reg;</div>
</div>
<h1>kkd</h1>
<button class='print'>Print</button>
<p class="demo"><%= fuck %></p>
 
<% if (aa) { %>
    <h2><% include footer %></h2>
<%} %>

</body>
</html>
